.nav-nav {
  gap: 40px;
  width: 427px;
  display: flex;
  position: relative;
  align-items: center;
}
.nav-rectangle8 {
  width: 50px;
  height: 50px;
}
.nav-frame8 {
  gap: 10px;
  width: 150px;
  height: 52px;
  display: flex;
  padding: 10px;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.nav-text {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 500px;
  line-height: 200%;
  font-stretch: normal;
}
.nav-frame9 {
  gap: 10px;
  width: 150px;
  height: 52px;
  display: flex;
  padding: 10px;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.nav-text2 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 500px;
  line-height: 200%;
  font-stretch: normal;
}
.nav-root-class-name {
  top: 38px;
  left: 105px;
  position: absolute;
}
.nav-root-class-name1 {
  top: 38px;
  left: 105px;
  position: absolute;
}
.nav-root-class-name2 {
  top: 38px;
  left: 105px;
  position: absolute;
}
.nav-root-class-name3 {
  top: 38px;
  left: 105px;
  position: absolute;
}

.bg-bawah-container {
  display: flex;
  position: relative;
}
.bg-bawah-bg-bawah {
  width: 729px;
  position: relative;
  align-self: flex-end;
}
.bg-bawah-root-class-name {
  right: 0px;
  bottom: 0px;
  position: absolute;
  align-self: flex-end;
}
.bg-bawah-root-class-name1 {
  right: 0px;
  bottom: 0px;
  position: absolute;
}
.bg-bawah-root-class-name2 {
  right: 0px;
  bottom: 0px;
  position: absolute;
}
.bg-bawah-root-class-name3 {
  right: 0px;
  bottom: 0px;
  position: absolute;
}
.bg-bawah-root-class-name4 {
  right: 0px;
  bottom: 0px;
  position: absolute;
}
.bg-bawah-root-class-name5 {
  right: 0px;
  bottom: 0px;
  position: absolute;
}
.bg-bawah-root-class-name6 {
  right: 0px;
  bottom: 0px;
  position: absolute;
}
.bg-bawah-root-class-name7 {
  right: 0px;
  bottom: 0px;
  position: absolute;
}
.bg-bawah-root-class-name8 {
  right: 0px;
  bottom: 0px;
  position: absolute;
  align-self: flex-end;
}
.bg-bawah-root-class-name9 {
  right: 0px;
  bottom: 0px;
  position: absolute;
}
.bg-bawah-root-class-name10 {
  right: 0px;
  bottom: 0px;
  position: absolute;
}

.bg-atas-container {
  display: flex;
  position: relative;
}
.bg-atas-bg-atas {
  width: 842px;
  height: 467px;
  position: relative;
}
.bg-atas-root-class-name {
  top: 0px;
  left: 0px;
  position: absolute;
}
.bg-atas-root-class-name1 {
  top: 0px;
  left: 0px;
  position: absolute;
}
.bg-atas-root-class-name2 {
  top: 0px;
  left: 0px;
  position: absolute;
}
.bg-atas-root-class-name3 {
  top: 0px;
  left: 0px;
  position: absolute;
}

.about-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.about-container1 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 1531px;
  bottom: 0px;
  height: 1002px;
  margin: auto;
  display: flex;
  position: absolute;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.about-emotion {
  top: 0px;
  right: 0px;
  width: 608px;
  height: 1002px;
  position: absolute;
}
.about-container2 {
  top: 273px;
  left: 0px;
  width: 787px;
  height: 387.5625px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.about-texture {
  top: 0px;
  left: 0px;
  width: 158px;
  height: 110px;
  position: absolute;
}
.about-headline {
  gap: 26px;
  top: 40px;
  left: 46px;
  width: 741px;
  height: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.about-headline1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.about-text {
  color: var(--dl-color-default-black);
  width: 741px;
  height: auto;
  text-align: left;
  line-height: 120.00000476837158%;
  text-decoration: none;
}
.about-text04 {
  color: var(--dl-color-default-black);
  width: 741px;
  height: auto;
  align-self: flex-start;
  text-align: left;
  line-height: 120.00000476837158%;
}
.about-text06 {
  color: var(--dl-color-gray-600);
  width: 741px;
  height: auto;
  text-align: left;
  line-height: 120.00000476837158%;
}
.about-frame6 {
  gap: 40px;
  display: flex;
  align-items: flex-start;
}
.about-button {
  gap: 8px;
  width: 203px;
  display: flex;
  padding: 14px 24px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-width: 0px;
  border-radius: 8px;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-primary-7002);
}
.about-text08 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
