.bg-bawah-container {
  display: flex;
  position: relative;
}
.bg-bawah-bg-bawah {
  width: 729px;
  position: relative;
  align-self: flex-end;
}
.bg-bawah-root-class-name {
  right: 0px;
  bottom: 0px;
  position: absolute;
  align-self: flex-end;
}
.bg-bawah-root-class-name1 {
  right: 0px;
  bottom: 0px;
  position: absolute;
}
.bg-bawah-root-class-name2 {
  right: 0px;
  bottom: 0px;
  position: absolute;
}
.bg-bawah-root-class-name3 {
  right: 0px;
  bottom: 0px;
  position: absolute;
}
.bg-bawah-root-class-name4 {
  right: 0px;
  bottom: 0px;
  position: absolute;
}
.bg-bawah-root-class-name5 {
  right: 0px;
  bottom: 0px;
  position: absolute;
}
.bg-bawah-root-class-name6 {
  right: 0px;
  bottom: 0px;
  position: absolute;
}
.bg-bawah-root-class-name7 {
  right: 0px;
  bottom: 0px;
  position: absolute;
}

.notification-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.notification-navbar {
  gap: 155px;
  top: 19px;
  flex: 1;
  left: 0px;
  right: 0px;
  width: 1541px;
  margin: auto;
  display: flex;
  position: fixed;
  align-items: center;
  margin-right: auto;
}
.notification-group11 {
  width: 47px;
  height: 43px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(243, 244, 246, 1);
}
.notification-text {
  top: 8.5px;
  left: 7px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 200%;
}
.notification-frame1411 {
  gap: 10px;
  display: flex;
  padding: 10px;
  align-items: flex-start;
  flex-direction: column;
}
.notification-frame23 {
  gap: 105px;
  display: flex;
  position: relative;
  align-items: center;
}
.notification-search {
  gap: 10px;
  width: 995px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-shrink: 0;
}
.notification-input {
  width: 100%;
  height: auto;
  display: flex;
  padding: 12px 16px;
  align-self: center;
  box-sizing: content-box;
  align-items: center;
  border-color: rgba(209, 213, 219, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-gray-50);
}
.notification-content {
  gap: 8px;
  display: flex;
  flex-grow: 1;
  align-self: center;
  align-items: center;
}
.notification-search1 {
  width: 18px;
  height: 18px;
}
.notification-text02 {
  color: var(--dl-color-gray-500);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 125%;
}
.notification-button {
  width: auto;
  height: auto;
  display: flex;
  padding: 8px;
  align-self: center;
  box-sizing: content-box;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(28, 100, 242, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  justify-content: center;
  background-color: var(--dl-color-primary-600);
}
.notification-search2 {
  width: 20px;
  height: 20px;
}
.notification-frame22 {
  gap: 2px;
  top: 0px;
  right: -323px;
  bottom: 0px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
}
.notification-rectangle25 {
  width: 50px;
  height: 50px;
  border-radius: 33px;
}
.notification-chevrondown {
  width: 30px;
  height: 30px;
}
.notification-side-bar-full {
  gap: 382px;
  top: 238px;
  left: 28px;
  width: 50px;
  height: 613px;
  display: flex;
  position: fixed;
  align-items: center;
  flex-direction: column;
}
.notification-side-bar {
  gap: 21px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.notification-navlink {
  display: contents;
}
.notification-dashboard {
  width: 50px;
  height: 50px;
  display: flex;
  position: relative;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: flex-start;
  flex-shrink: 1;
  border-radius: var(--dl-radius-radius-round);
  text-decoration: none;
  background-color: var(--dl-color-default-white);
}
.notification-chartpie {
  top: 10px;
  left: 10px;
  width: 30px;
  height: 30px;
  position: absolute;
}
.notification-navlink1 {
  display: contents;
}
.notification-conference {
  width: 50px;
  height: 50px;
  display: flex;
  position: relative;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: flex-start;
  flex-shrink: 1;
  border-radius: var(--dl-radius-radius-round);
  text-decoration: none;
  background-color: var(--dl-color-default-white);
}
.notification-cash {
  top: 10px;
  left: 10px;
  width: 30px;
  height: 30px;
  position: absolute;
}
.notification-navlink2 {
  display: contents;
}
.notification-class {
  width: 50px;
  height: 50px;
  display: flex;
  position: relative;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: flex-start;
  flex-shrink: 1;
  border-radius: var(--dl-radius-radius-round);
  text-decoration: none;
  background-color: var(--dl-color-default-white);
}
.notification-usergroup {
  top: 9px;
  left: 10px;
  width: 30px;
  height: 30px;
  position: absolute;
}
.notification-navlink3 {
  display: contents;
}
.notification-notif {
  width: 50px;
  height: 50px;
  display: flex;
  position: relative;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: flex-start;
  flex-shrink: 1;
  border-radius: var(--dl-radius-radius-round);
  text-decoration: none;
  background-color: var(--dl-color-blue-100);
}
.notification-bell {
  top: 10px;
  left: 10px;
  width: 30px;
  height: 30px;
  position: absolute;
}
.notification-chat {
  width: 50px;
  height: 50px;
  display: flex;
  position: relative;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: flex-start;
  flex-shrink: 1;
  border-radius: var(--dl-radius-radius-round);
  background-color: rgba(255, 255, 255, 1);
}
.notification-chat1 {
  top: 10px;
  left: 10px;
  width: 30px;
  height: 30px;
  position: absolute;
}
.notification-cog {
  left: 10px;
  width: 30px;
  bottom: 0px;
  height: 30px;
  position: absolute;
}
.notification-nofication {
  gap: 14px;
  top: 126px;
  left: 0px;
  right: 0px;
  width: 1198px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.notification-text04 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 33px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.notification-notification-content {
  width: 1198px;
  height: 905px;
  display: flex;
  position: relative;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 20px;
  background-color: var(--dl-color-blue-50);
}
.notification-notif-content {
  gap: 20px;
  top: 22px;
  left: 20px;
  width: 1156px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.notification-mahasiswa {
  width: 1156px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 21px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.notification-mhs1 {
  display: flex;
  padding: 15px 11px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.notification-user {
  gap: 11.870967864990234px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.notification-name {
  width: 1134px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.notification-ket {
  gap: 10px;
  display: flex;
  padding: 10px 0;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.notification-text06 {
  color: var(--dl-color-gray-black);
  height: auto;
  font-size: 20.774192810058594px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.notification-text08 {
  color: var(--dl-color-gray-500);
  height: auto;
  font-size: 20.774192810058594px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.notification-text10 {
  color: var(--dl-color-gray-500);
  height: auto;
  font-size: 20.774192810058594px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.notification-mahasiswa1 {
  width: 1156px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 21px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.notification-mhs11 {
  display: flex;
  padding: 15px 11px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.notification-user1 {
  gap: 11.870967864990234px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.notification-name1 {
  width: 1134px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.notification-ket1 {
  gap: 10px;
  display: flex;
  padding: 10px 0;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.notification-text12 {
  color: var(--dl-color-gray-black);
  height: auto;
  font-size: 20.774192810058594px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.notification-text14 {
  color: var(--dl-color-gray-500);
  height: auto;
  font-size: 20.774192810058594px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.notification-text16 {
  color: var(--dl-color-gray-500);
  height: auto;
  font-size: 20.774192810058594px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
@media(max-width: 1200px) {
  .notification-navbar {
    flex: 1;
    width: 1130px;
  }
}
