.bg-bawah-container {
  display: flex;
  position: relative;
}
.bg-bawah-bg-bawah {
  width: 729px;
  position: relative;
  align-self: flex-end;
}
.bg-bawah-root-class-name {
  right: 0px;
  bottom: 0px;
  position: absolute;
  align-self: flex-end;
}
.bg-bawah-root-class-name1 {
  right: 0px;
  bottom: 0px;
  position: absolute;
}
.bg-bawah-root-class-name2 {
  right: 0px;
  bottom: 0px;
  position: absolute;
}
.bg-bawah-root-class-name3 {
  right: 0px;
  bottom: 0px;
  position: absolute;
}
.bg-bawah-root-class-name4 {
  right: 0px;
  bottom: 0px;
  position: absolute;
}
.bg-bawah-root-class-name5 {
  right: 0px;
  bottom: 0px;
  position: absolute;
}
.bg-bawah-root-class-name6 {
  right: 0px;
  bottom: 0px;
  position: absolute;
}
.bg-bawah-root-class-name7 {
  right: 0px;
  bottom: 0px;
  position: absolute;
}

.student-list-and-emotion-dosen-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.student-list-and-emotion-dosen-navbar {
  gap: 155px;
  top: 19px;
  flex: 1;
  left: 0px;
  right: 0px;
  width: 1541px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  margin-right: auto;
}
.student-list-and-emotion-dosen-group11 {
  width: 47px;
  height: 43px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(243, 244, 246, 1);
}
.student-list-and-emotion-dosen-text {
  top: 8.5px;
  left: 7px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 200%;
}
.student-list-and-emotion-dosen-frame1411 {
  gap: 10px;
  display: flex;
  padding: 10px;
  align-items: flex-start;
  flex-direction: column;
}
.student-list-and-emotion-dosen-frame23 {
  gap: 105px;
  display: flex;
  position: relative;
  align-items: center;
}
.student-list-and-emotion-dosen-search {
  gap: 10px;
  width: 995px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-shrink: 0;
}
.student-list-and-emotion-dosen-input {
  width: 100%;
  height: auto;
  display: flex;
  padding: 12px 16px;
  align-self: center;
  box-sizing: content-box;
  align-items: center;
  border-color: rgba(209, 213, 219, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-gray-50);
}
.student-list-and-emotion-dosen-content {
  gap: 8px;
  display: flex;
  flex-grow: 1;
  align-self: center;
  align-items: center;
}
.student-list-and-emotion-dosen-search1 {
  width: 18px;
  height: 18px;
}
.student-list-and-emotion-dosen-text02 {
  color: var(--dl-color-gray-500);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 125%;
}
.student-list-and-emotion-dosen-button {
  width: auto;
  height: auto;
  display: flex;
  padding: 8px;
  align-self: center;
  box-sizing: content-box;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(28, 100, 242, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  justify-content: center;
  background-color: var(--dl-color-primary-600);
}
.student-list-and-emotion-dosen-search2 {
  width: 20px;
  height: 20px;
}
.student-list-and-emotion-dosen-frame22 {
  gap: 2px;
  top: 0px;
  right: -323px;
  bottom: 0px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
}
.student-list-and-emotion-dosen-rectangle25 {
  width: 50px;
  height: 50px;
  border-radius: 33px;
}
.student-list-and-emotion-dosen-chevrondown {
  width: 30px;
  height: 30px;
}
.student-list-and-emotion-dosen-side-bar-full {
  gap: 382px;
  top: 238px;
  left: 28px;
  width: 50px;
  height: 613px;
  display: flex;
  position: fixed;
  align-items: center;
  flex-direction: column;
}
.student-list-and-emotion-dosen-side-bar {
  gap: 21px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.student-list-and-emotion-dosen-navlink {
  display: contents;
}
.student-list-and-emotion-dosen-dashboard {
  width: 50px;
  height: 50px;
  display: flex;
  position: relative;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: flex-start;
  flex-shrink: 1;
  border-radius: var(--dl-radius-radius-round);
  text-decoration: none;
  background-color: var(--dl-color-default-white);
}
.student-list-and-emotion-dosen-chartpie {
  top: 10px;
  left: 10px;
  width: 30px;
  height: 30px;
  position: absolute;
}
.student-list-and-emotion-dosen-navlink1 {
  display: contents;
}
.student-list-and-emotion-dosen-conference {
  width: 50px;
  height: 50px;
  display: flex;
  position: relative;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: flex-start;
  flex-shrink: 1;
  border-radius: var(--dl-radius-radius-round);
  text-decoration: none;
  background-color: var(--dl-color-default-white);
}
.student-list-and-emotion-dosen-cash {
  top: 10px;
  left: 10px;
  width: 30px;
  height: 30px;
  position: absolute;
}
.student-list-and-emotion-dosen-navlink2 {
  display: contents;
}
.student-list-and-emotion-dosen-class {
  width: 50px;
  height: 50px;
  display: flex;
  position: relative;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: flex-start;
  flex-shrink: 1;
  border-radius: var(--dl-radius-radius-round);
  text-decoration: none;
  background-color: var(--dl-color-blue-100);
}
.student-list-and-emotion-dosen-usergroup {
  top: 9px;
  left: 10px;
  width: 30px;
  height: 30px;
  position: absolute;
}
.student-list-and-emotion-dosen-navlink3 {
  display: contents;
}
.student-list-and-emotion-dosen-notif {
  width: 50px;
  height: 50px;
  display: flex;
  position: relative;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: flex-start;
  flex-shrink: 1;
  border-radius: var(--dl-radius-radius-round);
  text-decoration: none;
  background-color: rgba(255, 255, 255, 1);
}
.student-list-and-emotion-dosen-bell {
  top: 10px;
  left: 10px;
  width: 30px;
  height: 30px;
  position: absolute;
}
.student-list-and-emotion-dosen-chat {
  width: 50px;
  height: 50px;
  display: flex;
  position: relative;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: flex-start;
  flex-shrink: 1;
  border-radius: var(--dl-radius-radius-round);
  background-color: rgba(255, 255, 255, 1);
}
.student-list-and-emotion-dosen-chat1 {
  top: 10px;
  left: 10px;
  width: 30px;
  height: 30px;
  position: absolute;
}
.student-list-and-emotion-dosen-cog {
  left: 10px;
  width: 30px;
  bottom: 0px;
  height: 30px;
  position: absolute;
}
.student-list-and-emotion-dosen-daftar-mahasiswa {
  gap: 14px;
  top: 126px;
  left: 0px;
  right: 0px;
  width: 1198px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.student-list-and-emotion-dosen-text04 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 33px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.student-list-and-emotion-dosen-daftar-mahasiswa1 {
  width: 1198px;
  height: 905px;
  display: flex;
  position: relative;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 20px;
  background-color: var(--dl-color-blue-50);
}
.student-list-and-emotion-dosen-content-daftar-mahasiswa {
  gap: 20px;
  top: 22px;
  left: 20px;
  width: 1156px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.student-list-and-emotion-dosen-navlink4 {
  display: contents;
}
.student-list-and-emotion-dosen-mahasiswa {
  width: 1156px;
  height: 92px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 21px;
  flex-direction: column;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 1);
}
.student-list-and-emotion-dosen-customer1 {
  display: flex;
  padding: 15px 11px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.student-list-and-emotion-dosen-user {
  gap: 11.870967864990234px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.student-list-and-emotion-dosen-avatar {
  width: 47.48387145996094px;
  height: 47.48387145996094px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 148.38710021972656px;
  background-size: cover;
  background-image: url("https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/3215bc06-55da-4b4a-85b8-b3b65455a780/8c1e596e-8478-41dd-8b1f-8ca1c8b59da9?org_if_sml=15106");
}
.student-list-and-emotion-dosen-name {
  width: 1039.0322265625px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.student-list-and-emotion-dosen-text06 {
  color: var(--dl-color-gray-black);
  height: auto;
  font-size: 20.774192810058594px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.student-list-and-emotion-dosen-text08 {
  color: var(--dl-color-gray-500);
  height: auto;
  font-size: 20.774192810058594px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.student-list-and-emotion-dosen-indicators {
  gap: 8.903225898742676px;
  width: 100%;
  height: 35px;
  display: flex;
  position: relative;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-red-500);
}
.student-list-and-emotion-dosen-text10 {
  color: var(--dl-color-default-white);
  height: auto;
  z-index: 1;
  font-size: 20.7742px;
  align-self: center;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 20.7742px;
  font-stretch: normal;
  text-decoration: none;
}
.student-list-and-emotion-dosen-mahasiswa1 {
  width: 1156px;
  height: 92px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 21px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.student-list-and-emotion-dosen-customer11 {
  display: flex;
  padding: 15px 11px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.student-list-and-emotion-dosen-user1 {
  gap: 11.870967864990234px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.student-list-and-emotion-dosen-avatar1 {
  width: 47.48387145996094px;
  height: 47.48387145996094px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 148.38710021972656px;
  background-size: cover;
  background-image: url("https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/3215bc06-55da-4b4a-85b8-b3b65455a780/3136c1e9-3d67-4410-b378-bc9bf35af220?org_if_sml=15219");
}
.student-list-and-emotion-dosen-name1 {
  width: 1074.6451416015625px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.student-list-and-emotion-dosen-text11 {
  color: var(--dl-color-gray-black);
  height: auto;
  font-size: 20.774192810058594px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.student-list-and-emotion-dosen-text13 {
  color: var(--dl-color-gray-500);
  height: auto;
  font-size: 20.774192810058594px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.student-list-and-emotion-dosen-mahasiswa2 {
  width: 1156px;
  height: 92px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 21px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.student-list-and-emotion-dosen-customer12 {
  display: flex;
  padding: 15px 11px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.student-list-and-emotion-dosen-user2 {
  gap: 11.870967864990234px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.student-list-and-emotion-dosen-avatar2 {
  width: 47.48387145996094px;
  height: 47.48387145996094px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 148.38710021972656px;
  background-size: cover;
  background-image: url("https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/3215bc06-55da-4b4a-85b8-b3b65455a780/8c6a4278-ea9f-49fc-a5b2-23be7061bd4d?org_if_sml=15346");
}
.student-list-and-emotion-dosen-name2 {
  width: 1074.6451416015625px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.student-list-and-emotion-dosen-text15 {
  color: var(--dl-color-gray-black);
  height: auto;
  font-size: 20.774192810058594px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.student-list-and-emotion-dosen-text17 {
  color: var(--dl-color-gray-500);
  height: auto;
  font-size: 20.774192810058594px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.student-list-and-emotion-dosen-mahasiswa3 {
  width: 1156px;
  height: 92px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 21px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.student-list-and-emotion-dosen-customer13 {
  display: flex;
  padding: 15px 11px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.student-list-and-emotion-dosen-user3 {
  gap: 11.870967864990234px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.student-list-and-emotion-dosen-avatar3 {
  width: 47.48387145996094px;
  height: 47.48387145996094px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 148.38710021972656px;
  background-size: cover;
  background-image: url("https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/3215bc06-55da-4b4a-85b8-b3b65455a780/a9c3f55d-ccbc-474d-9bf9-b995d37acb18?org_if_sml=15279");
}
.student-list-and-emotion-dosen-name3 {
  width: 1074.6451416015625px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.student-list-and-emotion-dosen-text19 {
  color: var(--dl-color-gray-black);
  height: auto;
  font-size: 20.774192810058594px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.student-list-and-emotion-dosen-text21 {
  color: var(--dl-color-gray-500);
  height: auto;
  font-size: 20.774192810058594px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.student-list-and-emotion-dosen-mahasiswa4 {
  width: 1156px;
  height: 92px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 21px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.student-list-and-emotion-dosen-customer14 {
  display: flex;
  padding: 15px 11px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.student-list-and-emotion-dosen-user4 {
  gap: 11.870967864990234px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.student-list-and-emotion-dosen-avatar4 {
  width: 47.48387145996094px;
  height: 47.48387145996094px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 148.38710021972656px;
  background-size: cover;
  background-image: url("https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/3215bc06-55da-4b4a-85b8-b3b65455a780/22d68c61-5569-4861-97ee-19960f01d4b7?org_if_sml=15101");
}
.student-list-and-emotion-dosen-name4 {
  width: 1074.6451416015625px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.student-list-and-emotion-dosen-text23 {
  color: var(--dl-color-gray-black);
  height: auto;
  font-size: 20.774192810058594px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.student-list-and-emotion-dosen-text25 {
  color: var(--dl-color-gray-500);
  height: auto;
  font-size: 20.774192810058594px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.student-list-and-emotion-dosen-mahasiswa5 {
  width: 1156px;
  height: 92px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 21px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.student-list-and-emotion-dosen-customer15 {
  display: flex;
  padding: 15px 11px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.student-list-and-emotion-dosen-user5 {
  gap: 11.870967864990234px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.student-list-and-emotion-dosen-avatar5 {
  width: 47.48387145996094px;
  height: 47.48387145996094px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 148.38710021972656px;
  background-size: cover;
  background-image: url("https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/3215bc06-55da-4b4a-85b8-b3b65455a780/c0b6292c-7607-4beb-aec1-4118c4abfc81?org_if_sml=14674");
}
.student-list-and-emotion-dosen-name5 {
  width: 1074.6451416015625px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.student-list-and-emotion-dosen-text27 {
  color: var(--dl-color-gray-black);
  height: auto;
  font-size: 20.774192810058594px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.student-list-and-emotion-dosen-text29 {
  color: var(--dl-color-gray-500);
  height: auto;
  font-size: 20.774192810058594px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.student-list-and-emotion-dosen-mahasiswa6 {
  width: 1156px;
  height: 92px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 21px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.student-list-and-emotion-dosen-customer16 {
  display: flex;
  padding: 15px 11px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.student-list-and-emotion-dosen-user6 {
  gap: 11.870967864990234px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.student-list-and-emotion-dosen-avatar6 {
  width: 47.48387145996094px;
  height: 47.48387145996094px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 148.38710021972656px;
  background-size: cover;
  background-image: url("https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/3215bc06-55da-4b4a-85b8-b3b65455a780/500b9311-b762-4b13-9fd5-fc06a63ff241?org_if_sml=15157");
}
.student-list-and-emotion-dosen-name6 {
  width: 1074.6451416015625px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.student-list-and-emotion-dosen-text31 {
  color: var(--dl-color-gray-black);
  height: auto;
  font-size: 20.774192810058594px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.student-list-and-emotion-dosen-text33 {
  color: var(--dl-color-gray-500);
  height: auto;
  font-size: 20.774192810058594px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.student-list-and-emotion-dosen-mahasiswa7 {
  width: 1156px;
  height: 92px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 21px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.student-list-and-emotion-dosen-customer17 {
  display: flex;
  padding: 15px 11px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.student-list-and-emotion-dosen-user7 {
  gap: 11.870967864990234px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.student-list-and-emotion-dosen-avatar7 {
  width: 47.48387145996094px;
  height: 47.48387145996094px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 148.38710021972656px;
  background-size: cover;
  background-image: url("https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/3215bc06-55da-4b4a-85b8-b3b65455a780/b79ef229-a028-472b-8ad2-19c92be5158e?org_if_sml=14477");
}
.student-list-and-emotion-dosen-name7 {
  width: 1074.6451416015625px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.student-list-and-emotion-dosen-text35 {
  color: var(--dl-color-gray-black);
  height: auto;
  font-size: 20.774192810058594px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.student-list-and-emotion-dosen-text37 {
  color: var(--dl-color-gray-500);
  height: auto;
  font-size: 20.774192810058594px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
@media(max-width: 1200px) {
  .student-list-and-emotion-dosen-navbar {
    flex: 1;
    width: 1130px;
  }
}
