<div>
  <link href="./side-bar-full-dash-active.css" rel="stylesheet" />
  <aside class="side-bar-full-dash-active-side-bar-full">
    <div class="side-bar-full-dash-active-side-bar">
      <div class="side-bar-full-dash-active-dashboard">
        <img
          alt="chartpie4162"
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/3215bc06-55da-4b4a-85b8-b3b65455a780/40a29c25-8838-4f77-955e-ab463cbd757f?org_if_sml=1568"
          class="side-bar-full-dash-active-chartpie"
        />
      </div>
      <a href="vicon-started.html" class="side-bar-full-dash-active-navlink">
        <div class="side-bar-full-dash-active-conference">
          <img
            alt="cash4162"
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/3215bc06-55da-4b4a-85b8-b3b65455a780/486ab526-6c9f-49ba-bb05-cef9f30a1cf6?org_if_sml=11187"
            class="side-bar-full-dash-active-cash"
          />
        </div>
      </a>
      <a
        href="student-list-and-emotion-dosen.html"
        class="side-bar-full-dash-active-navlink1"
      >
        <div class="side-bar-full-dash-active-class">
          <img
            alt="usergroup4162"
            src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/3215bc06-55da-4b4a-85b8-b3b65455a780/1c56e439-5899-47e7-b818-8279e710b8c2?org_if_sml=11958"
            class="side-bar-full-dash-active-usergroup"
          />
        </div>
      </a>
      <div class="side-bar-full-dash-active-notif">
        <img
          alt="bell4162"
          src="public/playground_assets/bell4162-7mh8.svg"
          class="side-bar-full-dash-active-bell"
        />
      </div>
      <div class="side-bar-full-dash-active-chat">
        <img
          alt="chat4162"
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/3215bc06-55da-4b4a-85b8-b3b65455a780/36d4a48b-67ca-4ebd-a288-b2badfc5d8e1?org_if_sml=1607"
          class="side-bar-full-dash-active-chat1"
        />
      </div>
    </div>
    <img
      alt="cog4162"
      src="public/playground_assets/cog4162-9gch.svg"
      loading="lazy"
      class="side-bar-full-dash-active-cog"
    />
  </aside>
</div>
